.contenedor {
  display: flex;
  width: 500px;
  height: 200px;
  background-color: #383838;
  border-radius: 15px;
  gap: 10px;
}

.conteiner-info {
  display: flex;
  flex-direction: column; /*modifica el comportamiento por default de flex*/
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

h1 {
  font-size: 20px;
  color: aliceblue;
}

h2 {
  font-size: 12px;
  color: #ffffff;
}

.p {
  color: rgb(190, 107, 30);
}

.b {
  color: gray;
}
